
@{
    ViewData["Title"] = "Acesso Negado";
}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Acesso Negado</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Acesso Negado</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!-- ================ accessdenied section start ================= -->
<section class="section-margin--small">
    <div class="container">
        <div class="d-none d-sm-block mb-5">
            <h1>Acesso Negado</h1>
            <h2>Você está tentado acesso a uma área para a qual não está autorizado!</h2>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Voltar para Home</a>
            <button class="btn btn-primary" onclick="window.history.back()">Voltar a Página Anterior</button>
        </div>
    </div>
</section>
<!-- ================ accessdenied section end ================= -->
