
@{
    ViewData["Title"] = "Conta Ativada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-margin--small">
    <div class="container">
        <div class="d-none d-sm-block mb-5">
            <h1>Conta ativada com sucesso!</h1>
            <h2>Obrigado por confirmar seu e-mail! Você já pode comprar em nossa loja!!</h2>
            <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Login">Fazer login</a>
        </div>
    </div>
</section>

