
@{
    ViewData["Title"] = "Recuperar Senha";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin" style="padding-top: 100px !important; padding-bottom: 100px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Recuperação de Senha</h4>
                        <p>Caso você possua uma conta em nossa loja, aguarde alguns instantes que será enviado um e-mail com um link para realizar a recuperação de sua senha</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
