@model WebMercado.Models.ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperação de Senha";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin" style="padding-top: 100px !important; padding-bottom: 100px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Acabou de Chegar?</h4>
                        <p>Utilize o botão abaixo para criar uma conta e continuar visitando e comprando em nossa Loja!</p>
                        <a class="btn btn-danger button button-login" asp-controller="Account" asp-action="Register">Criar uma Conta</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Recuperar Senha</h3>
                    <form class="row login_form" asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-danger button button-login w-100">Recuperar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}