
@{
    ViewData["Title"] = "Redefinição de Senha";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Nova senha definida com sucesso</h4>
                        <p>
                            Sua nova senha já está definida e pronta para uso. <br/>
                            Clique <a asp-action="Login">AQUI</a> para entrar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
