@model WebMercado.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Redefinição Senha";
}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="login_form_inner">
                    <h3>Definir nova senha</h3>
                    <form class="row login_form" asp-action="ResetPassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                        <div class="col-md-12 form-group">
                            <input asp-for="Senha" class="form-control">
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="ConfirmarSenha" class="form-control">
                            <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-login w-100">Redefinir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}