
@{
    ViewData["Title"] = "Conta Criada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-margin--small">
    <div class="container">
        <div class="d-none d-sm-block mb-5">
            <h1>Conta criada com sucesso!</h1>
            <h2>Em alguns instantes você receberá um e-mail com os passos finais para a ativação da sua conta!</h2>
        </div>
    </div>
</section>

