
<section class="blog-banner-area" style="height:150px">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h2 class="text-center" >@ViewData["TituloBanner"]</h2>
                <p></p>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
